<div class="container">
  <div style="display: flex;justify-content: center;align-items: center">
    <h1>
      Главная
    </h1>
  </div>

  <div class="button-blue" style="margin-top: 0px" (click)="navigateEditSec()">
    ARM секретаря
  </div>
  <div class="button-blue" (click)="navigateCreateConf()">
    ARM секретаря (Доверенные лица)
  </div>

  <div class="button-blue" (click)="navigateEditBuh()">
    ARM бухгалтера
  </div>

  <div class="button-blue" (click)="navigateCreateCar()">
    ARM управляющего <br/>
    (Поставщики, покупатели)
  </div>

  <div class="button-blue">
    ARM секретаря<br/>
    (Платежи)
  </div>

  <div class="button-empty">
    Выход
  </div>

</div>
