<div style="display: flex;justify-content: left;align-items: center">
  <div (click)="navigateMain()"
       style=" cursor:pointer;background-color: rgba(0,0,0,0.07); display: flex;justify-content: center;align-items: center;border-radius: 50px;width: 42px;height: 42px">
    <img style="width: 100%;height: 100%" src="https://www.svgrepo.com/show/305142/arrow-ios-back.svg">
  </div>

  <h1 style="margin-top: 0px;margin-left: 10px;margin-bottom: 0px">
    Редактирование покупателей
  </h1>
</div>

<form (ngSubmit)="onSubmit()" *ngFor="let item of object | async as list">
  <div class="label">Название организации:</div>
  <input type="text" id="name" value="{{item.name}}">

  <div class="label">Банк:</div>
  <select id="bank" style="margin-top:5px">
    <option *ngFor="let itemBank of bank | async as list"
            [value]="itemBank.name" [selected]="item.bank.name == itemBank.name">{{ itemBank.name }}</option>
  </select>


  <div class="label">Местоположение:</div>
  <select id="location" style="margin-top:5px">
    <option *ngFor="let itemLocation of location | async as list"
            [value]="itemLocation.location"
            [selected]="item.bank.name == itemLocation.location">{{ itemLocation.location }}</option>
  </select>


  <div class="label">ИНН:</div>
  <input type="text" id="inn" value="{{item.inn}}">


  <div class="label">Форма собственности:</div>
  <select id="typeOfOwner" style="margin-top:5px">
    <option *ngFor="let itemType of typeOfOwner | async as list"
            [value]="itemType.typeOfOwnerShip"
            [selected]="item.typeOfOwnerShip.typeOfOwnerShip == itemType.typeOfOwnerShip">{{ itemType.typeOfOwnerShip }}</option>
  </select>

  <div class="label">КПП:</div>
  <input type="text" id="kpp" value="{{item.kpp}}">


  <div class="label">Кореспондентский счет:</div>
  <input type="text" id="kscore" value="{{item.kscore}}">

  <div class="label">Расчетный счет:</div>
  <input type="text" id="rscore" value="{{item.rscore}}">

  <div class="create" style="display: flex;justify-content: space-between;align-items: center">
    <div>
      <button type="submit">Редактировать</button>
      <button style="background-color: #000;margin-left: 10px" (click)="deleteHere(item.id)">Удалить</button>
    </div>
    <div>
      <button><<</button>
      <button>Добавить</button>
      <button>>></button>
    </div>
  </div>
</form>

