<div style="display: flex; justify-content: left; align-items: center">
  <div (click)="navigateMain()"
       style="cursor:pointer;background-color: rgba(0,0,0,0.07); display: flex;justify-content: center;align-items: center;border-radius: 50px;width: 42px;height: 42px">
    <img style="width: 100%;height: 100%" src="https://www.svgrepo.com/show/305142/arrow-ios-back.svg">
  </div>

  <h1 style="margin-top: 0px;margin-left: 10px;margin-bottom: 0px">
    Форма добавления договоров
  </h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="label">Дата:</div>
  <input type="date" formControlName="date">

  <div class="label">Номер договора:</div>
  <input type="number" formControlName="number">

  <div class="label">Наименование поставщика:</div>
  <select formControlName="providerName">
    <option *ngFor="let item of providers | async as list"
            value="{{item.name}}">{{item.name}}</option>

  </select>
  <div class="label">Наименование потребителя:</div>
  <select formControlName="buyerName">
    <option *ngFor="let item of buyers | async as list"
            value="{{item.name}}">{{item.name}}</option>

  </select>

  <div class="label">Номер платежного поручения:</div>
  <input type="number" formControlName="numberPayment">

  <div class="create">
    <button type="submit">Далее</button>
  </div>
</form>
